main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
}

#titrePage {
    margin-left: 150px;
    border-bottom: 5px solid #efca56 ;
    width: 50%;
}

/* //////// Placement du stade //////////////// */

#stadeConteneurPrincipale {
    /* border: 2px dotted magenta; */
    width: 50%;
    margin-bottom: 10px;
    margin-left: 60px;
}

#baseStade {
    position: relative;
    height: 600px;
    width: 600px;
    bottom: 100px;
}

/* //////// Placement des cases ////////////// */

#casesConteneur {
    /* border: red solid 1px; */
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 0px;
}

.casesStade {
    position: absolute;
    height: 120px;
    width: 120px;
    z-index: 500;
    transition: width 100ms, height 100ms;
}

#casesConteneur img:nth-child(2) {
    left: 1px;
    bottom: 195px;
    animation-name: animIdle;
    animation-duration: 2500ms;
    animation-delay: 1500ms;
    animation-iteration-count: 5;

}

#casesConteneur img:nth-child(3) {
    left: 75px;
    bottom: 195px;
}

#casesConteneur img:nth-child(4) {
    left: 168px;
    bottom: 199px;
}

#casesConteneur img:nth-child(5) {
    left: 285px;
    bottom: 197px;
}

#casesConteneur img:nth-child(6) {
    left: 385px;
    bottom: 192px;
    /* height: 120px; */
}

#casesConteneur img:nth-child(7) {
    left: 473px;
    bottom: 192px;
}

/*//////// Placement Boite Info événement /////// */

#infoEvenement {
    background-color: black;
    border: solid white 10px;
    color: white;
    height:55%;
    width:30%;
    margin: 20px 150px 0px 100px ;
    padding: 25px 25px 30px 25px;
}

#infoEvenement h1 {
    margin-bottom: 10px;
}

#infoEvenement #dateEvenement {
    margin-bottom: 30px;
}

#infoEvenement p {
    margin-bottom: 50px;
}

/*///////////// Placement Carousel ////////////// */

#carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#cadreImage {
    width: 25%;
    height: 10%;
    border: 3px solid white;
    /* margin: 0 auto; */
}

#cadreImage img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

#carousel span {
    color: gray;
    font-size: 2em;
    margin: 0px 5px ;
}

/* /////// Animations ///////////////// */

@keyframes animIdle {
    0% {bottom: 195px;}
    25% {bottom: 201px;}
    50%,100% {bottom: 195px;}
  }

.casesStade:hover {
      /* bottom:199px ; */
      height: 125px;
      width: 125px;
      cursor: pointer;
      animation-play-state: paused;
    }

 /*///////////// Medias Queries ////////////////  */

 @media (max-width:520px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    #infoEvenement {
        height:55%;
        width:100%;
        margin: 0px auto;
        padding: 25px 25px 30px 25px;
        overflow: hidden;
    }

    #stadeConteneurPrincipale {
        
        width: 50%;
        margin-bottom: 10px;
        margin-left: 60px;
    }
 }
 