main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

#titrePage {
    margin-left: 150px;
    border-bottom: 5px solid #efca56 ;
    width: 50%;
}

/* ////////Placement du stade///////////////// */

#stadeConteneurPrincipale {
    border: 2px dotted magenta;
    width: 50%;
    margin-bottom: 10px;
}

#baseStade {
    height: 550px;
    width: 550px;
}

/* //////// Placement des cases ////////////// */

#casesConteneur {
    border: red solid 1px;
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 0px;
}

.casesStade {
    position: absolute;
    height: 110px;
    width: 110px;
}

#casesConteneur img:nth-child(2) {
    left: 1px;
    bottom: 87px;
}

#casesConteneur img:nth-child(3) {
    left: 75px;
    bottom: 87px;
}

#casesConteneur img:nth-child(4) {
    left: 160px;
    bottom: 87px;
    /* height: 19%;
    width: 19%; */
}

#casesConteneur img:nth-child(5) {
    left: 260px;
    bottom: 87px;
}

#casesConteneur img:nth-child(6) {
    left: 344px;
    bottom: 1px;
}

#casesConteneur img:nth-child(7) {
    left: 415px;
    bottom: 1px;
}

/*//////// Boite Info événement /////// */

#infoEvenement {
    background-color: black;
    border: solid white 10px;
    color: white;
    height:50%;
    width:55%;
    margin-right: 100px;
    margin-left: 100px;
    padding: 25px 25px 10px 25px;
}

#infoEvenement h1 {
    margin-bottom: 10px;
}

#infoEvenement #dateEvenement {
    margin-bottom: 30px;
}

#infoEvenement p {
    margin-bottom: 10px;
}

/*//////// Carousel /////// */

#carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#cadreImage {
    width: 25%;
    height: 10%;
    border: 3px solid black;
    /* margin: 0 auto; */
}

#cadreImage img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

#carousel span {
    color: gray;
    font-size: 2em;
    margin: 0px 5px ;
}