main{
    font-family: "bahnschrift";
}


.grid-container {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr 0.6fr 0.4fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 1.5fr;
  grid-template-areas:
    ". titre-cours titre-cours titre-cours ."
    ". description . details-cours ."
    ". categories . . .";
}

#nom-cours {
}


#titre-cours {
    border-bottom: solid black 5px;

    grid-area: titre-cours;
    font-size: 1.3em;
    margin-bottom: 1.5rem;
    grid-column: 2 / 5;
}

#titre-cours .retour {
    position: relative;
    float: left;
    text-decoration: none;
}

#code-cours, #nom-cours{
    margin-left: 50px;
}

#description {
    grid-area: description;
}

#description > p{
    font-size: 1.3em;
    margin-bottom: 32px;
}


#titre-cours .retour {
    font-weight: bold;
    font-size: 50pt;
    bottom: 6px;
}

#details-cours {
    grid-area: details-cours;
    font-size: 1.3em;
}

#details-cours ul {
    list-style: none;
}

#details-cours li {
    padding-top: 5px;
}


#categories {
    grid-area: categories; 
    display: flex;
/*    border: 1px black solid;*/
}

.icone-categorie {
    margin-right: 8px;
    list-style-type: none;
}


.subtitle-1 {
    font-weight: bold;
}

.nomCat {
    text-align: center;
}

.cercle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid  #1A1A1A;
    display: inline-block;
}

#gauche {
    float: left;
}

#droite {
    text-align: right;
    float: right
}

@media all and (max-width: 1024px) and (min-width:601px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.6fr 1.1fr 0.6fr 0.4fr 0.6fr;
        grid-template-rows: 0.1fr 0.5fr 0.5fr 1.5fr;
        grid-template-areas:
          ". titre-cours titre-cours titre-cours ."
          ". description  description  description ."
          ". details-cours  details-cours . ."
          ". categories  . . .";
    }
    #details-cours{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #titre-cours {
        font-size: 1em;
    }
}
@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.3fr 1.1fr 0.6fr 0.4fr 0.3fr;
        grid-template-rows: 0.1fr 0.5fr 0.5fr 1.5fr;
        grid-template-areas:
          ". titre-cours titre-cours titre-cours ."
          ". description  description  description ."
          ". details-cours  details-cours . ."
          ". categories  . . .";
          margin-top: 60px;
        }
    #details-cours{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #titre-cours {
        font-size: 1em;
    }
    .grid-container{
    }
}