
.icone-prof{
    height: 20pt;
    width: auto;
}

#martin{
    position: absolute;
    left: 35%;
    top:40%;
}

#dominic{
    position: absolute;
    left: 50%;
    top:25%;
}
#manon{
    position: absolute;
    left: 75%;
    top:58%;
}
#mathieu{
    position: absolute;
    left: 85%;
    top:42%;
}
#david{
    position: absolute;
    left: 40%;
    top:78%;
}
#denis{
    position: absolute;
    left: 65%;
    top:75%;
}
#gregory{
    position: absolute;
    left: 22%;
    top:12%;
}
#camille{
    position: absolute;
    left: 65%;
    top:38%;
}
#vahik{
    position: absolute;
    left: 55%;
    top:82%;
}
#eddy{
    position: absolute;
    left: 50%;
    top:60%;
}
#caroline{
    position: absolute;
    left: 35%;
    top:20%;
}
#ahmed{
    position: absolute;
    left: 75%;
    top:25%;
}
#vincent{
    position: absolute;
    left: 15%;
    top:75%;
}
#johanne{
    position: absolute;
    left: 25%;
    top:50%;
}


#container-boite{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}

#opacity-boite{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#container-out-boite{
    width: 100%;
    height: 100%;
    position: relative;
    flex-basis: 100%;
}

#out-boite{
    position: absolute;
    top: -10%;
    right: -10%;
    background-color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
    
}

#boite{
    background-color: #333333;
    position: fixed;
    top: 20%;
    transform: translateX(35vw);
    height: 60vh;
    width: 23vw;
    color: white;
    border: 7px solid white;
    font-family: "bahnschrift";
    font-stretch: wider;
}

#header-boite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#contenu-boite{
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    height: 94%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 3%;
    justify-content: space-between;
}

#container-nom-boite{
    height: 10%;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#nom-boite{
    border-bottom: 2px solid white;
    margin-bottom: 3%;
    font-weight: 300;
}

#date-prof-boite{
    font-size: 0.8vw;
    font-weight: 100;
}

#annee-boite{
    color: #efca56;
    font-weight: bolder;
}

#photo-boite{
    object-fit: cover;
    height: 6vw;
    width: 6vw;
    border: 3px solid white;
    /* clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%, 0 0); */
}

#description-boite{
    height: 70%;
    align-self: stretch;
    overflow: auto;
    font-weight: 300;
}

#description-boite >p{
    margin-top: 3%;
}
.liste-description-boite::before{
    content: "- ";
}

#description-boite::-webkit-scrollbar {
    width: 0.6em;
}

#description-boite::-webkit-scrollbar-thumb{
    background-color: white;
}

#container-profs{
    height: 70vh;
    width: 100%;
    position: relative;
}



.prof:hover{
    cursor: pointer;
}