
.icone-prof{
    height: 20pt;
    width: auto;
}

#martin{
    position: absolute;
    left: 35%;
    top:40%;
}

#dominic{
    position: absolute;
    left: 50%;
    top:25%;
}
#manon{
    position: absolute;
    left: 75%;
    top:58%;
}
#mathieu{
    position: absolute;
    left: 85%;
    top:42%;
}
#david{
    position: absolute;
    left: 40%;
    top:78%;
}
#denis{
    position: absolute;
    left: 65%;
    top:75%;
}
#gregory{
    position: absolute;
    left: 22%;
    top:12%;
}
#camille{
    position: absolute;
    left: 65%;
    top:38%;
}
#vahik{
    position: absolute;
    left: 55%;
    top:82%;
}
#eddy{
    position: absolute;
    left: 50%;
    top:60%;
}
#caroline{
    position: absolute;
    left: 35%;
    top:20%;
}
#ahmed{
    position: absolute;
    left: 75%;
    top:25%;
}
#vincent{
    position: absolute;
    left: 15%;
    top:75%;
}
#johanne{
    position: absolute;
    left: 25%;
    top:50%;
}

#boite{
    display: block;
    background-color: rgb(219, 83, 83);
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 2;
    height: 80vh;
    width: 80vw;
}

#photo{
    background-color:blue;
    position: relative;
    left: 85%;
    top: 5%;
    z-index: 2;
    height: 20vh;
    width: 10vw;
    border:  solid 5px black;
}
#nomBoiteProf{

    position: relative;
    left: 5%;
bottom: 15%;
    z-index: 2;
    font-size: 10vh;
}
#texteProf{
margin: 0 5%;
line-height: 1.6;
}

#contenu-profs{
    height: 80vh;

    }