
.icone-prof{
    height: 20pt;
    width: auto;
}

#martin{
    position: absolute;
    left: 25%;
    top:50%;
}

#dominic{
    position: absolute;
    left: 25%;
    top:50%;
}
#manon{
    position: absolute;
    left: 25%;
    top:50%;
}
#mathieu{
    position: absolute;
    left: 25%;
    top:50%;
}
#david{
    position: absolute;
    left: 25%;
    top:50%;
}
#denis{
    position: absolute;
    left: 25%;
    top:50%;
}
#gregory{
    position: absolute;
    left: 25%;
    top:50%;
}
#camille{
    position: absolute;
    left: 25%;
    top:50%;
}
#vahik{
    position: absolute;
    left: 25%;
    top:50%;
}
#eddy{
    position: absolute;
    left: 25%;
    top:50%;
}
#caroline{
    position: absolute;
    left: 25%;
    top:50%;
}
#ahmed{
    position: absolute;
    left: 25%;
    top:50%;
}
#vincent{
    position: absolute;
    left: 25%;
    top:50%;
}
#johanne{
    position: absolute;
    left: 25%;
    top:50%;
}
