
header {
  margin-top: 1em;
}
body {
  background-color:grey;
  margin: 0;
}

#menu{
  background-color: red;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-left: 2em ;
}
h1 {
color: white;
padding-left:4em ;
margin: 0;
}


.grid-container {
  margin-left: 2em ;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-columns: auto auto auto auto auto auto auto;

    padding: 10px 10px 27px 10px;
    height: 500px;

  }
  
  .grid-container-legende {
    color:white;
    display: grid;
    height:2px;
      padding-bottom:20px;
    grid-template-columns: auto auto auto auto auto;
      grid-row-gap: 5px;
  
  }
  
  .grid-item {
    background-color: rgb(255, 255, 255);
    height:auto;
      max-width:100px;
      max-height: 100px;
  padding-right:30px;
  padding-left:.5em;
  
    font-size: 16px;
  }
  .grid-item2 {
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
      
    margin:  auto auto auto -50px ;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
  
  
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
    
  }
  
  .item11 {
  grid-column: 6;
  grid-row-start:2;
  grid-row-end:5;
  opacity:0;
  
  }
  .item5 {
  grid-column: 7;
  grid-row-start:1;
  grid-row-end:3;
    background-color: rgb(255, 255, 255);
  
    text-align: center;
    padding: 50% 0px;
    font-size: 16px;
  
  }
  .item17 {
  grid-column: 7;
  grid-row-start:3;
  grid-row-end:6;
    background-color: rgb(255, 255, 255);
  
    text-align: center;
    padding: 50% 0px;
    font-size: 16px;
  
  }
 
  #cercle1 {
    background-color: rgb(255, 255, 0 );
  height:25px;
  width:25px;
  display:inline;
  border-radius:50%;
  
  
  
  }
  #cercle2 {
    background-color: rgb(0, 255, 150);
  height:25px;
  width:25px;
  border-radius:50%;
  
  
  
  
  }
  #cercle3 {
    background-color: rgb(255, 0, 0);
  height:25px;
  width:25px;
  display:inline;
  border-radius:50%;
  
  
  }

  footer{
    height: 50px;
    background-color: black;
  }