@font-face {
    font-family: "bahnschrift";
    src: href("/fonts/BAHNSCHRIFT.TTF");
}

*{
    margin:0;
    padding: 0;
}


body {
    position: relative;
    font-family: Arial;
    height: 100%;
    overflow: hidden;

}

/*/////////// BACKGROUND SHAPES ////////*/
/* Formes d'arrière plan anglés */

#background-shapes{
    width: 100%;
    height: 100%;
    position: relative;;
    bottom: 0;
    z-index: -50;
    overflow: hidden;
}

.background-shape{
    height: 100%;
    width: 100%;
    position:fixed;
    clip-path: polygon(0 95%, 0 100%, 35% 100%,100% 0, 25% 0, 0 95% );
}

#background-shape-left{
    z-index: -4;
}
.container-background-smallshapes{
    position: relative;
}
.background-smallshape{
    position: fixed;
    z-index: -3;
    width: 20px;
    transform-origin: 50% 50%;
}

.background-plus{
    width: 23px;
}

#bck-shape-1{
    top: 15%;
    left: 25%;
    width:30px;
    animation: animRond 5s cubic-bezier(1,-1.18,.69,1.92)  infinite forwards;
}
#bck-shape-2{
    top: 57%;
    left: 75%;
    animation: animRond 9s ease-in-out 2s infinite forwards;
}
#bck-shape-3{
    top: 25%;
    left: 58%;
    transform: rotate(20deg);
    animation: animPlus 1s cubic-bezier(1,-1.18,.69,1.92) infinite 2s;
}
#bck-shape-4{
    top: 68%;
    left: 36%;
    transform: rotate(85deg) scaleX(0.8) scaleY(0.8);
    animation: animPlus2 5s linear infinite ;
}

@keyframes animRond{
    from{
        transform: scaleX(1) scaleY(1);
    }
    10%{
        transform: scaleX(1) scaleY(1);
    }
    45%{
        transform: scaleX(2) scaleY(2);
    }
    to{
        transform: scaleX(1) scaleY(1);
    }

}

@keyframes animPlus{
    from{
        transform: rotate(20deg);
    }
    to{
        transform: rotate(380deg);
    }
}
@keyframes animPlus2{
    from{
        transform: rotate(85deg);
    }

    to{
        transform: rotate(-275deg);
    }
}


/* ///////// STYLE ACCUEIL //////////// */

#contenu-principal{
    width: 100%;
    height: 100%;
}

.fadeout {
    animation: fadeout 0.2s linear;  
    animation-fill-mode: forwards;
}

.fadein {
    animation: fadein 0.2s linear;  
    animation-fill-mode: forwards;  
}

@keyframes fadeout{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadein{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#container-etudiants-contenu{
    opacity: 0;
    animation: fadein 0.2s linear;  
    animation-fill-mode: forwards;  
    animation-delay: 0.5s;
}


/* Éléments à placer (boutons,etc.)*/
.button-back{
    float: left;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}


/* Logo et formes */
#title{
    height:100%;
    width: 50%;
    min-width: 50%;
    min-height: 100%;
    margin-left: 30%;
}

.containerLogoContent {
    height: 75%;
    margin: auto;
    margin-top:5vw;
    position: relative;
    transform-origin: 50% 50%;
}
.containerLogo{
    position: relative;
    transform-origin: 50% 50%;

}

.logo{
    position: relative;
    transform-origin: 50% 50%;
    z-index: 2;
}

/* FORME GÉOMETRIQUES DE LA PAGE */
/*Forme inside logo o*/
#logo-o{
    position: absolute;
    top: 39.8%;
    left: 57.2%;

    width: 2.5%;
    z-index: 1;
}

#logo-u{
    position: absolute;
    top: 50.3%;
    left: 25.5%;

    width: 3.2%;
    z-index: 1;
}

/*Demi cercle bleu*/
.cercle-n{
    margin: auto;
    margin-top: 0.25rem;
    border-radius:50%;
    width: 80%;
    height: 80%;
}

.cercle-n-border{
    position: absolute;
    clip-path: inset(0 0 0 50%);
    left: 5.5%;
    top: 20%;
    z-index: 1;
    width: 13.5%;
    height: 20%;
}

/*Demi cercle jaune*/
.cercle-i{
    margin: auto;
    margin-top: 0.25rem;
    border-radius:50%;
    width: 80%;
    height: 80%;
}

.cercle-i-border{
    position: absolute;
    clip-path: inset(0 50% 0 0);
    left: 46%;
    bottom: 15%;
    z-index: 1;
    width: 13.5%;
    height: 20%;
}

@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

/*Gros cercle rouge*/
.logo-cercle-container{
    position: absolute;
    
    left: 65%; 
    top: -5%;

    z-index: 3;

    width: 15vw;
    height: 15vw;

     
}

.logo-cercle-container-border{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-cercle{
    margin: auto;
    margin-top: 0.5rem;
    border-radius:50%;
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0 20%, 100% 70%, 100% 53%,0 3%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

#logo-svg-cercle{
    position: absolute;
    top: 46%;
    left: 4%;
    width: 69%;
    transform: rotate(7deg);
    opacity: 0.7;
}

.logo-cercle-border{
    position: absolute;
    top: -3.5%;
    left: -3.5% ;
    border-style: dashed;
    border-radius:50%;
    width: 103.9%;
    height: 103.9%;
    animation-name: spin;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes spin {
    from {
        transform:rotate(0deg) scaleX(1.05) scaleY(1.05);
    }
    to {
        transform:rotate(360deg) scaleX(1.05) scaleY(1.05);
    }
}

/* Formes qui sont autours du logo */
.cercle-cap-logo{
    position: absolute;
    width: 3%;

    transform-origin: 0 0;
}
.plus-cap-logo{
    position: absolute;
    width: 3%;
    transform-origin: 0 0;
}


#plus-cap-N{
    left: 9.7%;
    top: -7%;
}

#plus-cap-T{
    left: -0.5%;
    top: 70%;
}

#cercle-cap-T{
    left: 101%;
    top: 35.5%;
}

#cercle-cap-I{
    left: 52.6%;
    bottom: -5%;
}


/*////////// SECTIONS ETUDIANTS ///////*/
.container-menu-accueil{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 40%;
    height: 80px;

}

.container-menu-accueil-mobile-display{
    display: none;
}

#container-menu-accueil-1{
    align-items: flex-start;
    bottom: -10%;
    left: 57%;
}
#container-menu-accueil-2{
    align-items: flex-end;
    top: 66%;
    left: -1.5%;
    transform: translateX(-100%);
}

.container-menu-accueil>a{
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

.boite-bouton-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;    
    height: 30px;
}

#container-menu-accueil-2>a>.boite-bouton-menu{
    flex-direction: row-reverse;
}

.separateur-menu-accueil{
    padding: 2px;
    width: 105%;
}

.boite-bouton-menu>p{
    color: #FCFCFC;
    font-size: 1.1vw;
    font-weight: 500;
    text-decoration: none;
    padding: 0 5% 0 5%;
}

.hover-menu-accueil{
    height: 3px;
    width: 0%;
    transition: all .3s cubic-bezier(.7,.02,.53,1.27);
}

.container-menu-accueil>a:hover .hover-menu-accueil{
    width:20%
}

.position-container-etudiants{
    position: absolute;
    width: 45%;
    min-width: 340px;
    
}

#position-container-etudiants-nouveaux{
    transform: translate(-100%,0);
    top:60%;
    left:0;
}

#position-container-etudiants-actuels{
    left:60%;
    bottom: 0;
}

.separateur-etudiants{
    background-color: #1A1A1A; 
}

.container-etudiants{
    font-size: 24px;
    text-align: center;
}

#container-etudiants-nouveaux{
    margin-left: 3%;
}

#container-etudiants-actuels{
    margin-right: 3%;
}

.mask-ligne-etudiants-nouveaux{
    clip-path: polygon(
        0 0, 102% 0, 102% 100%, 0 100%, 0 60%, 101% 60%, 101% 55%, 0 55%, 0 50%, 101% 50%,101% 45%, 0 45%, 0 0 
     );
}

.mask-ligne-etudiants-actuels{
    clip-path: polygon(
        0 0, 0 100%, 100% 100%, 100% 60%, 0 60%, 0 55%, 120% 55%, 120% 50%, 0 50%, 0 45%, 100% 45%,100% 0, 0 0 
     );
}

.mask-etudiant{
    clip-path: polygon(
        0 0, 102% 0, 102% 100%, 0 100%, 0 60%, 101% 60%, 101% 45%, 0 45%, 0 0 
     );
}

.container-etudiants-animate{
    position: absolute;
    width: 9999%;
    height: 9999%;
    z-index: -1;
}

#container-etudiants-fullscreen{
    width: 90%;
    height: 70%;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 0.3em;
    clip-path: polygon(0 0, 100% 0, 100% 13%, 0 13%, 0 15%,100% 15%, 100% 100%, 0 100%, 0 0);
    animation: etudiants-fill 1s;  
    animation-fill-mode: forwards;  
}

@keyframes etudiants-fill{
    from {
        height: 0%;
    }

    to {
        height: 70%;
    }
}



#et-nouveaux-title{
    color: #FCFCFC;
    font-size: 24px;
    font-weight: bold;
}

#et-actuels-title{
    color: #FCFCFC;
    font-size: 24px;
    font-weight: bold;
}

#et-menu-title{
    color: #FCFCFC;
    font-size: 42px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

#et-menu-desc{
    color: #FCFCFC;
    font-size: 24px;
    text-align: left;
    width: 60%;
    margin: 5% 5% 0 5%;
}

#et-menu-image{
    width: 380px;
    height: 380px;
    margin: 8%;
    margin-right: 50px;
    margin-bottom: 15%;
}
#et-menu-contenu-container{
    position: relative;
}

#et-menu-contenu{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 60%;
}

.titreDivEtud{
    padding-top: 1.5%;
    padding-bottom: 1%;
}

.button {
    border: none;
    font-family: "bahnschrift";
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    cursor: pointer;
    font-size: 0.8em;


}

.cliqueAccueil{
    padding-top: 3%;
    padding-bottom: 1%;
}

/* NAV MENU ETUDIANTS ACCUEIL */
.et-nav-container{
    position: absolute;
    top: 70%;
    left: 2%;
    width: 100%;
    text-align: left;

}

.et-nav{
    position: relative;
}

.metro-nav-container{
    position: relative;
}

.croix-nav{
    position: absolute;
    top: -40%;
    left: 0;
    width: 3%;
    transform-origin: center right;
}

.metro-nav{
    width: 50%;
    margin-left: 5%;
}

.et-liensutiles-liste{
    margin-left: 10%;
    list-style-type: none;
    flex-direction: row;    
}

.et-liensutiles-liste > li{
    position: absolute;
    width: 20%;
    height: 10%;
}

.et-liensutiles-liste > li:nth-child(1){
    left:11.5%;
}

.et-liensutiles-liste > li:nth-child(2){
    left:33%;
}

.et-liensutiles-liste > li:nth-child(3){
    left:54%;
}
.position-bouton-menu-et{
    position: relative;
}

.button-menu-et{
    position: absolute;
    top:28%;
    left: 18%;

    border: none;
    font-family: "bahnschrift";
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8em;
 
}

.list-circle{
    width: 2em;
}

/*////// STYLE HEADER ///////// */
.header{
    position: relative;
}

/*TOGGLE DAY NIGHT*/
.container-toggle-theme{
    position: absolute;
    top: 6px;
    right: 10px;
}

.toggle-theme-btn
{
    position: relative;
    width: 55px;
    height: 24px;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
    /* background-color: white; */
    border: 3px solid white;
}

input[type="checkbox"]
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.toggle-theme-btn span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    border-radius: 40px;
}

.toggle-theme-span{
    background-color: #fff;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

.toggle-theme-before,.toggle-theme-after
{
    content: '';
    position: absolute;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

.actif:nth-of-type(3){
    transition: 0.5s ease transform, 0.2s ease background-color;

}

.toggle-theme-before
{
    background-color: #fff;
    transform: translate(-25px,0px);
    z-index: 1;
}

.toggle-theme-after
{
    background-color: #000 ;
    transform: translate(3px,2px);
    z-index: 0;
}

.toggle-theme-span.nuit
{
    background-color: #000;
}

.mouse-down-button-toggle-theme
{
    opacity: 0.5;
}

.toggle-theme-after.nuit
{
    background-color: #000;
    transform: translate(-2px,-6px);
}

.toggle-theme-after.nuit
{
    background-color: #fff;
    transform: translate(34px,2px);
}


/*END TOGGLE*/
.container-header-mobile{
    display: none;
}
.header {
    padding: 1.3rem;
    text-align: center;
    color: white;
    font-size: 30px;
}

.displayRowHeader{
    display: flex;
    flex-direction: row;
    padding: 1em;
}

/*logo accueil*/
#logoMenuAccueilContainer{
    width: 130px;
    margin-right: 2%;
}
.logo-cercle-container-header{
    width: 120px;
    height: 120px;
}

.logo-cercle-border-header{
    position: absolute;
    top: -5px;
    left: -5px;    
    border-style: dashed;
    border-radius:50%;
    transform-origin: center;
    width: 125px;
    height: 125px;
    animation-name: spin;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#logoMenuAccueilContainer{
    cursor: pointer;
}

.logo-cercle{
    transition: transform 0.3s cubic-bezier( 0.94, 0.38, .48, 1.2 );
}

#logoMenuAccueilContainer:hover>a>.logo-cercle-container-header>.logo-cercle-container-border>.logo-cercle{
    transform: rotate(45deg);
}

@keyframes animationCercleHeader{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

#menuHeaderContainer{
    display: flex;
    flex-direction: row;
    width: 40vw;
    font-size: 1.5em;
    margin-top: 1%;
}

.elt-menu-header{
    text-decoration: none;
    margin-right: 6%;
    flex-shrink: 0;
    height: 50px;
}

.border-elt-menu-header{
    border-bottom: 3px solid;
    padding: 0 5px 0 5px;
    transition: clip-path .3s ease-in;
}

.menu-actif{
    clip-path: none;
}

.menu-inactif>div{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 85%, 0 86%, 0 0 );
}

.menu-inactif:hover>.border-elt-menu-header{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 85%, 0 86%, 0 0 ); 
}

/*TITRE*/
.container-titre{
    font-size:2vw;
    width: 50%;
    min-height: 25px;
    margin-left: 8%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 92%, 100% 92%, 100% 88%, 0 88%,0 0); */
}

.contenu-titre{
    width: 75%;
    display: flex;
    flex-direction: row;
    overflow: visible;
    align-items: center;
}

.titre-page{
    margin-left: 20px;
    padding-top: 10px;
}

.fleche-page-precedente{
    margin-left: 1%;
    transition: all .2s ease-in-out;
    width: 3%;
    font-size: 50px;
}

.fleche-page-precedente:hover{
    margin-left: 0%;
    margin-right: 1%;
}




/* ARRIÈRE-PLAN ANIMÉ */

.animation-area{
    width: 100%;
    height: 100vh;
    position:absolute;
    font-size: 5rem;
    z-index: -2;
}

.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    overflow: hidden;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    animation: animate 10s linear infinite;  
}


/* TODO with javascript */

.box-area li:nth-child(1){
    left: 200px;
    top: 100%;
    animation-name: animate;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.box-area li:nth-child(2){
    left: 650px;
    top: 100%;
    animation-name: animate;
    animation-delay: 6s;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.box-area li:nth-child(3){
    left: 100px;
    top: 100%;
    animation-name: animate;
    animation-delay: 3s;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.box-area li:nth-child(4){
    left: 700px;
    top: 100%;
    animation-name: animate;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.box-area li:nth-child(5){
    left: 550px;
    top: 100%;
    animation-name: animate;
    animation-delay: 8s;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.box-area li:nth-child(6){
    left: 400px;
    top: 100%;
    animation-name: animate;
    animation-delay: 4s;
    animation-duration: 10s;
    animation-timing-function: linear;
}
.prog {
    border: none;
    font-family: "bahnschrift";
    color:red ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 62pt;
    cursor: pointer;
    position: absolute;
}

.prog:active {
   text-shadow: salmon 3px 3px,
   salmon -3px 3px,
   salmon -3px -3px,
   salmon 3px -3px ; 

}
.design {
    border: none;
    font-family: "bahnschrift";
    color:teal ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 62pt;
    cursor: pointer;
    position: absolute;
}
.design:active {
    text-shadow:turquoise 3px 3px,
   turquoise -3px 3px,
   turquoise -3px -3px,
   turquoise 3px -3px ; 
 
 }

 /* ///////// STYLES COMMUN AUX PAGES /////////////// */
 .contenu-titre>.fleche-page-precedente>a{
     text-decoration: none;
}

@keyframes animate{
    from {
        transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 1;
    }

    to {
        transform: translateX(800px) translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/* end of todo */

/* /////////SOCIALS//////////// */
.container-socials{
    display: flex;
    flex-direction: row;
    width: 200px;
    position: fixed;
    bottom:10%;
    left: 3%;
}

.social-icon{
    width: 50%;
    transition: transform 0.3s cubic-bezier(.63,.51,.47,1.74);
}

.social-elt:hover .social-icon{
    transform: scaleX(1.5) scaleY(1.5);
}

/* /////////FOOTER//////////// */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: "bahnschrift";
    font-size: 0.90rem;
    position: fixed;
    transform-origin: 0 0;
    bottom: 0;
    width:100%;
    height:9vh;   /* Height of the footer */
    overflow:hidden;
}

.credits{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0.5%;
}
.credits>p{
    align-self: flex-start;
    text-align: left;
    float: left;
}

.college{
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.college>a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.college>a>img{
    margin-right: 5%;
    width: 20%;
}

.college>a>p{
    font-size: 1.5vw;   
    align-self: center;
}

.contacts{
    text-align: right;
    margin: 0.5%;
}

#liens-college-footer{
    color: white;
}


@media all and (max-width: 1440px) and (min-width:1025px) {
    .containerLogoContent{
        margin-top: 200px;
    }

    /*HEADER*/
    .container-titre{
        font-size: 3vw;
        width: 75%;
    }
} 

@media all and (max-width: 1024px) and (min-width:601px) {
    .containerLogoContent{
        margin-top: 200px;
    }
    /*HEADER*/
    .container-titre{
        font-size: 4vw;
        width: 60%;
    }
    .contenu-titre{
        width: 90%;
    }
} 

/* ////// PHONE ADAPTIVE ///////////// */

@media screen and (max-width: 600px) {
    body{
        overflow: auto;
        height: 100%;
    }
    /* BACKGROUND SHAPES */
    .background-shape{
        clip-path: polygon(0 95%, 0 100%, 35% 100%, 100% 10%,100% 0, 25% 0, 0 95% );
    }
    #bck-shape-1{
        left: 20%;
        top: 13%;
    }

    #bck-shape-2{
        top: 50%;
        left: 85%;
    }
    #bck-shape-3{
        left:45%
    }
    #bck-shape-4{
    top: 56%;
    left: 10%;    
}
    
    /* HEADER */
    .header-desktop{
        display: none;
    }

    .container-titre{
        margin: 5% 0 0 5%;
        font-size: 20px;
        width: 80%;
    }
    .contenu-titre{
        width: 100%;
    }

    .fleche-page-precedente{
        font-size: 30px;
    }
    .container-header-mobile{
        display: block;
        background-color: #1A1A1A;
        height: 40px;
        display: flex;
        flex-direction: row;
        width: 100vw;
        padding: .5em 0 .5em 0;
        position: relative;
    }

    /* Logo tim */
    #logo-header-mobile{
        margin-top: 3px;
        margin-left: 8px;
        width:10%;
    }

    #logo-header-mobile>a{
        display: block;
        width: 80px;
    }

    #img-logo-header-mobile{
        display: block;
        width: 100%;
    }

    /* Burger Menu */
    .container-icon-burger{
        margin-left: 65vw;
        color: white;
    }

    .hamburger{
        padding-top: 10px;
    }

    .hamburger:focus{
        outline: unset;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
        background-color: white;
    }

    .box-container-menu-burger{
        position: absolute;
        width: 98%;
        top: 100%;
        height: 0px;
        z-index: 5;
        padding: 1%;
        background-color: white;
        transition: all 0.2s ease-in;
        overflow: hidden;
    }

    .box-border-menu-burger{
        width: 100%;
        height:100%;
        background-color: #EFCA56;
    }

    .burger-active{
        height: 180px;
    }

    .hide-burger{
        height: 0;
        padding: 0;
        width:100%;
    }

    .container-menu-burger{
        padding: 13px 10px 10px 15px;
        font-size: 1.5em;
        margin-left: -1000%;
        transition: margin 1s cubic-bezier(.61,.57,.67,1.14);
    }

    .menu-appear{
        margin-left: 0;
    }

    .elt-menu-burger{
        padding-left: 5px;
        width: 70%;
        position: relative;
    }

    .elt-menu-burger>a{
        display: block;
        width: 120%;
    }

    #burger-cours, #burger-profs, #burger-stages{
        border-bottom: 2.5px solid black;
        padding-bottom: 5px;
        margin-bottom: 6px;
    }

    .elt-menu-burger>a{
        list-style-type: none;
        text-decoration: none;
        font-family: "bahnschrift";
        font-weight: 400;
    }

    .arrow-burger{
        position: absolute;
        right: -3%;
        top: 0;
        transition: right 0.5s ease-in-out;
    }

    .elt-menu-burger:hover .arrow-burger{
        right: -5%;
    }


    
    /* ACCUEIL - LOGO */
    #title{
        margin:25% 0 30% 0;  
        width: 100%;   
        overflow: hidden;

    }
   
    .containerLogo{
        margin: 0 12% 0 12%;
    }

    .logo{
        width: 100vw;
        clip-path: polygon(0 0, 75% 0, 75% 100%, 0 100%, 0 0);
    }

    .position-container-etudiants{
        display: none;
    }

    /* Cercles qui apparaissent dans le logo */
    /*Gros cercle rouge*/
    .logo-cercle-container{
        position: absolute;
        
        left: 65%; 
        top: -7%;

        z-index: 3;

        width: 25vw;
        height: 25vw;

        
    }
    .logo-cercle-border{
        position: absolute;
        top: -4%;
        left: -4.25%;
        transform-origin: 50% 50%;
        border-style: dashed;
        border-width: 2px;
        border-radius:50%;
        animation-name: spin;
        animation-duration: 25s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    /*Demi cercle bleu*/
    .cercle-n{
        margin: auto;
        margin-top: 0.25rem;
        border-radius:50%;
        width: 80%;
        height: 80%;
    }
    
    .cercle-n-border{
        left: 7%;
        top: 15%;
    
        width: 17%;
        height: 20%;
    }

    /*Demi cercle jaune*/
    .cercle-i{
        margin: auto;
        margin-top: 0.25rem;
        border-radius:50%;
        width: 80%;
        height: 80%;
    }
    
    .cercle-i-border{
        left: 61%;
        top: 60%;
    
        width: 17%;
        height: 20%;
    }

    /*Formes dans le logo*/
    #logo-o{
        left: 75.5%;
        width: 2.8%;
    }

    #logo-u{
        left: 33.6%;
        top: 49.8%;
        width: 3.8%;
    }
    /*Petits cercles*/
    #plus-cap-N{
        left: 13%;
        top: -8%;
    }
    #plus-cap-T{
        left: -0.5%;
        top: 69%;
    }
    #cercle-cap-T{
        left: 101%;
        top: 33.8%;
    }
    
    #cercle-cap-I{
        left: 69.5%;
        bottom: -10%;
    }

    /*////BOITES ETUDIANTES////*/
    
    .container-menu-accueil{
        display: none;
    }
    
    .container-menu-accueil-mobile-display{
        display: flex;
        justify-content: space-between ;
        flex-direction: column;
        margin:80px 5% 0 5%;
    }

    .container-menu-accueil-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100px;
    }

    .container-menu-accueil-mobile:nth-of-type(2){
        margin-top: 20px;
    }

    .boite-bouton-menu{
        height: 40px;
    }   
    .separateur-menu-accueil{
        padding: 2px;
        width: 102%;
    }
    .container-menu-accueil-mobile:nth-of-type(2)>.separateur-menu-accueil{
        transform: translateX(-3%);
    }

    .container-menu-accueil-mobile>a{
        text-decoration: none;
        width: 100%;
        cursor: pointer;
    }
    .boite-bouton-menu>p{
        font-size: 5vw;
    }

    /* ///// SOCIALS ///// */
    .container-socials{
        position: static;
        margin-left: 25%;
        margin-bottom: 4px;
    }

    /* ///// FOOTER ///// */
    .footer{
        max-width: 100vw;
        position: static;
        font-size: 8px;
        flex-flow: row wrap;
        overflow:visible;
        height: auto;
        padding-bottom: 2%;
    }

    .credits{
        width: 45%;
        padding-left: 3px;
        flex-shrink: 2;
        order: 2;
    }

    .college{
        order:1;
        flex-shrink: 0;
        flex-grow: 3;
        flex-basis: 100%;
        margin-top: 8px;
        margin-bottom: 10px;
        text-align: center;
    }

    .college>a>img{
        width: 15%;
    }

    .college>a>p{
        font-size: 3vw;
    }

    .contacts{
        order: 3;
        flex-shrink: 2;
    }

    .contacts>a{
        color: white;
        padding-right: 3px;
    }
}







.invisible{
    display: none;
}

